
.Splash {
  background-image:url('../public/images/istockphoto-1355277961-2048x2048.jpg');
  height: 400px;
  /* background-position: center center; */
  background-clip:border-box;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.Splash h1 {
  color:#fff;
  background-color:#ff781f;
}

.whiteBg {
	background: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
  padding: 15px 20px;
    margin: 20px;
    flex: 1 1;
    min-height: 400px;
}

.isOrange {
  color:#ff781f;
  margin: 15px 0px;
}

.bkGrey {
  background-color: #24292c;
}