
.Splash {
  background-image:url('../public/images/istockphoto-1355277961-2048x2048.jpg');
  height: 400px;
  /* background-position: center center; */
  background-clip:border-box;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content:center;
  
}
.Splash .col {
  padding: 0px;
}

.CenterFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Splash .Bared {
  color: #fff;
  background-color: rgba(255,120,32,.9);
  padding: 25px;
  text-align: center;
  min-height: 100px;
  width: 100%;
  display: block;
}

.Splash button {
  margin: 10px;
}

.whiteBg {
	background: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
  padding: 15px 0px;
    margin: 20px;
    flex: 1 1;
    min-height: 400px;
}

.isOrange {
  color:#ff781f;
  margin: 15px 0px;
}

.bkGrey {
  background-color: #515151;
}

.WhitePLan {
  padding: 20px;
  color: #fff;
  text-align: center;
}